{% extends 'cinema/cinema.html' %}
{% block dropdown %}

    <h2>Cinemas</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_table }}
{#        <label>#}
{#            <select>#}
{#                <option value="">------------</option>#}
{#                {% for value in cinema %}#}
{#                    <option value="{{ value.location }}">{{ value.cinema_title }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </label>#}
{#        <button type="submit" >Save</button>#}
    </form>
{% endblock %}